assets/*
**/.sass-cache
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store-*
vendor/
cms/
framework/
reports/
siteconfig/
tagfield/
themes/apitalent/bower_components
themes/apitalent/node_modules
carousel/
gridfield-bulk-editing-tools/
sortablefile/
sortablegridfield/
blog/
event_calendar/
lumberjack/
widgets/
superslider/
silverstripe-versioneddataobjects
logs/
**/*.DS_Store